

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  position: fixed;
  width: 200px;
  height: calc(40% - 60px); /* subtract the height of the sidebar-button */
  top: 70px; /* same as the height of the sidebar-button */
  background: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

#Sidebar-button {
  position: fixed;
  padding: 10px;

  background-color: #65abf6;
  color: #fff;
  z-index: 11;
}

.sidebar-title {
  text-align: center;
}

.sidebar-title h1 {
  margin-left: 20px;

  font-weight: bold;
}

.data-overview-container {
  display: flex;
}

.column {
  flex: 1;
  margin-right: 20px;
}

.column:last-child {
  margin-right: 0;
}


.design_graph {
  display: flex;
  justify-content: center;
  align-items: center;
}

.design_graph img {
  width: 100%;
  height: auto;
}

#overview{
  margin-left: 2%;
}

.container-fluid {
  position: relative;
}

.content {
  flex-grow: 1;
  padding-top: 90px;
  padding-left: 5%;
  padding-right: 5%;

}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-content {
  overflow-y: auto;
}

.app-row {
  flex-grow: 1;
}

.nav-bar {
  color: rgba(26, 26, 26, 0.75);
  background-color: rgb(247, 247, 247);
  height: 100%;
  min-height: 100vh;
}

.row-padding {
  padding: 0px;
}

.heading-ribbon {
  background-color: rgb(32, 35, 42);
  color: whitesmoke
}

.subheading-ribbon {
  background-color: white;
  color: rgb(32, 35, 42);
}

a { 
  color: inherit !important; 
} 

.nav-link-button { }

.nav-link-button-selected {
  font-weight: bold !important;
  border: 1px !important;
  border-color: lightslategray !important;
}

.text-center {
  padding-top: 20px;
  padding-bottom: 20px;
}